.list-container {
  margin-block: 3px;
  padding: 2px;
  display: flex;
  margin-inline: 20px;
}

.list-x {
  flex-direction: row;
}

.list-y {
  flex-direction: column;
}

.list-x-item {
  margin-inline: 2px;
}

.list-y-item {
  margin-block: 2px;
}
