.tab-list {
  display: flex;
  border-bottom: 1px solid #000;
  padding-left: 0;
  direction: row;
  align-items: center;
  justify-self: flex-start;
  gap: 3px;
}

.tab-list .item {
  margin-right: 4px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 5px;
}

.tab-list .item.active {
  background-color: white;
  border: solid #000;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0px 0px;
}
