.header-container {
  background: purple;
  position: fixed;
  width: -webkit-fill-available;
  color: white;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.search-bar {
  min-width: 30%;
  color: black;
  max-width: 35%;
  margin-left: auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-inline: 10px;
  line-height: 30px;
}
