.content-details-page-container {
  display: grid;
  grid-template-columns: 0fr 5fr 0fr;
  align-items: center;
}

@media screen and (min-width: 380px) {
  .content-details-page-container {
    grid-template-columns: 1fr 5fr 1fr;
  }
}

.content-details-page-container-item {
  margin-inline: 20px;
  overflow: hidden;
}

.content-details-page-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-block: 20px;
  border: 1px solid black;
}

@media screen and (min-width: 380px) {
  .content-details-page-info-container {
    flex-direction: row;
  }
}

.content-details-page-info-img {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
}

.content-details-page-info-img .image {
  background-repeat: no-repeat;
  object-fit: cover;
}

.content-details-page-info-text {
  display: flex;
  flex-grow: 9;
  flex-direction: column;
}

.content-details-page-info-text .header {
  flex-grow: 2;
  font-weight: bold;
  font-size: x-large;
}

.content-details-page-info-text .desc {
  flex-grow: 10;
  text-overflow: ellipsis;
}
